HF_TOKEN=
WANDB_API_KEY=
WANDB_ENTITY=
PSI_HOME=/hfm
DATA_HOME=/hfm/data
HF_HOME=/hfm/cache
TORCH_HOME=/hfm/cache
UV_CACHE_DIR=/hfm/cache
HF_LEROBOT_HOME=/hfm/data/lerobot
OMP_NUM_THREADS=8
TOKENIZERS_PARALLELISM=false
DEEPSPEED_LOG_LEVEL=warning
CUDA_LAUNCH_BLOCKING=true
TF_CPP_MIN_LOG_LEVEL=3
AV_LOG_LEVEL=quiet
PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python
# Setup proxy if needed
# HTTPS_PROXY=socks5://127.0.0.1:7891
# HTTP_PROXY=socks5://127.0.0.1:7891
# HF_ENDPOINT=https://hf-mirror.com
